// Use these variables for adding content
//**************************************


// General Icons
	$icons-heart: content: "\f159";
	$icons-star: content: "\f1ee" ;
	$icons-plus: f199;
	$icons-minus: f176;
	$icons-x: f217;
	$icons-check: f126 ;
	$icons-upload: f20c;
	$icons-download: f143;
	$icons-widget: f214;
	$icons-marker: f172;
	$icons-refresh: f1a5;
	$icons-home: f15a;
	$icons-trash: ;
	$icons-paperclip: ;
	$icons-lock: ;
	$icons-unlock: ;
	$icons-calendar: ;
	$icons-cloud: ;
	$icons-magnifying-glass: ;
	$icons-zoom-out: ;
	$icons-zoom-in: ;
	$icons-wrench: ;
	$icons-rss: ;
	$icons-share: ;
	$icons-flag: ;
	$icons-list-thumbnails: ;
	$icons-list: ;
	$icons-thumbnails: ;
	$icons-annotate: ;
	$icons-folder: ;
	$icons-folder-lock: ;
	$icons-folder-add: ;
	$icons-clock: ;
	$icons-play-video: ;
	$icons-crop: ;
	$icons-archive: ;
	$icons-pencil: ;
	$icons-graph-trend: ;
	$icons-graph-bar: ;
	$icons-graph-horizontal: ;
	$icons-graph-pie: ;
	$icons-checkbox: ;
	$icons-minus-circle: ;
	$icons-x-circle: ;
	$icons-eye: ;
	$icons-database: ;
	$icons-results: ;
	$icons-results-demographics: ;
	$icons-like: ;
	$icons-dislike: ;
	$icons-upload-cloud: ;
	$icons-camera: ;
	$icons-alert: ;
	$icons-bookmark: ;
	$icons-contrast: ;
	$icons-mail: ;
	$icons-video: ;
	$icons-telephone: ;
	$icons-comment: ;
	$icons-comment-video: ;
	$icons-comment-quotes: ;
	$icons-comment-minus: ;
	$icons-comments: ;
	$icons-microphone: ;
	$icons-megaphone: ;
	$icons-sound: ;
	$icons-address-book: ;
	$icons-bluetooth: ;
	$icons-html5: ;
	$icons-css3: ;
	$icons-layout: ;
	$icons-web: ;
	$icons-foundation: ;

// Page Icons
	$icons-Page-Icons: ;
	$icons-page: ;
	$icons-page-csv: ;
	$icons-page-doc: ;
	$icons-page-pdf: ;
	$icons-page-export: ;
	$icons-page-export-csv: ;
	$icons-page-export-doc: ;
	$icons-page-export-pdf: ;
	$icons-page-add: ;
	$icons-page-remove: ;
	$icons-page-delete: ;
	$icons-page-edit: ;
	$icons-page-search: ;
	$icons-page-copy: ;
	$icons-page-filled: ;
	$icons-page-multiple: ;

// Arrow Icons
	$icon-arrow-up: ;
	$icon-arrow-right: ;
	$icon-arrow-down: ;
	$icon-arrow-left: ;
	$icon-arrows-out: ;
	$icon-arrows-in: ;
	$icon-arrows-expand: ;
	$icon-arrows-compress: ;


// People Icons
	$icons-torso: ;
	$icons-torso-female: ;
	$icons-torsos: ;
	$icons-torsos-female-male: ;
	$icons-torsos-male-female: ;
	$icons-torsos-all: ;
	$icons-torsos-all-female: ;
	$icons-torso-business: ;

// Device Icons
	$icons-monitor: ;
	$icons-laptop: ;
	$icons-tablet-portrait: ;
	$icons-tablet-landscape: ;
	$icons-mobile: ;
	$icons-mobile-signal: ;
	$icons-usb: ;

// Text Editor Icons
	$icons-bold: ;
	$icons-italic: ;
	$icons-underline: ;
	$icons-strike: ;
	$icons-text-color: ;
	$icons-background-color: ;
	$icons-superscript: ;
	$icons-subscript: ;
	$icons-align-left: ;
	$icons-align-center: ;
	$icons-align-right: ;
	$icons-align-justify: ;
	$icons-list-numbered: ;
	$icons-list-bullet: ;
	$icons-indent-more: ;
	$icons-indent-less: ;
	$icons-print: ;
	$icons-save: ;
	$icons-photo: ;
	$icons-filter: ;
	$icons-paint-bucket: ;
	$icons-link: ;
	$icons-unlink: ;
	$icons-quote: ;

// Media-Control-Icons
	$icons-play: ;
	$icons-stop: ;
	$icons-pause: ;
	$icons-previous: ;
	$icons-rewind: ;
	$icons-fast-forward: ;
	$icons-next: ;
	$icons-record: ;
	$icons-play-circle: ;
	$icons-volume-none: ;
	$icons-volume: ;
	$icons-volume-strike: ;
	$icons-loop: ;
	$icons-shuffle: ;
	$icons-eject: ;
	$icons-rewind-ten: ;

// Ecommerce-Icons
	$icons-dollar: ;
	$icons-euro: ;
	$icons-pound: ;
	$icons-yen: ;
	$icons-bitcoin: ;
	$icons-bitcoin-circle: ;
	$icons-credit-card: ;
	$icons-shopping-cart: ;
	$icons-burst: ;
	$icons-burst-new: ;
	$icons-burst-sale: ;
	$icons-paypal: ;
	$icons-price-tag: ;
	$icons-pricetag-multiple: ;
	$icons-shopping-bag: ;
	$icons-dollar-bill: ;

// Accessibility-Icons
	$icons-wheelchair: ;
	$icons-braille: ;
	$icons-closed-caption: ;
	$icons-blind: ;
	$icons-asl: ;
	$icons-hearing-aid: ;
	$icons-guide-dog: ;
	$icons-universal-access: ;
	$icons-telephone-accessible: ;
	$icons-elevator: ;
	$icons-male: ;
	$icons-female: ;
	$icons-male-female: ;
	$icons-male-symbol: ;
	$icons-female-symbol: ;

//-Social-&-Brand-Icons
	$social-500px: ;
	$icons-social-adobe: ;
	$icons-social-amazon: ;
	$icons-social-android: ;
	$icons-social-apple: ;
	$icons-social-behance: ;
	$icons-social-bing: ;
	$icons-social-blogger: ;
	$icons-social-delicious: ;
	$icons-social-designer-news: ;
	$icons-social-deviant-art: ;
	$icons-social-digg: ;
	$icons-social-dribbble: ;
	$icons-social-drive: ;
	$icons-social-dropbox: ;
	$icons-social-evernote: ;
	$icons-social-facebook: ;
	$icons-social-flickr: ;
	$icons-social-forrst: ;
	$icons-social-foursquare: ;
	$icons-social-game-center: ;
	$icons-social-github: ;
	$icons-social-google-plus: ;
	$icons-social-hacker-news: ;
	$icons-social-hi5: ;
	$icons-social-instagram: ;
	$icons-social-joomla: ;
	$icons-social-lastfm: ;
	$icons-social-linkedin: ;
	$icons-social-medium: ;
	$icons-social-myspace: ;
	$icons-social-orkut: ;
	$icons-social-path: ;
	$icons-social-picasa: ;
	$icons-social-pinterest: ;
	$icons-social-rdio: ;
	$icons-social-reddit: ;
	$icons-social-skype: ;
	$icons-social-skillshare: ;
	$icons-social-smashing-mag: ;
	$icons-social-snapchat: ;
	$icons-social-spotify: ;
	$icons-social-squidoo: ;
	$icons-social-stack-overflow: ;
	$icons-social-steam: ;
	$icons-social-stumbleupon: ;
	$icons-social-treehouse: ;
	$icons-social-tumblr: ;
	$icons-social-twitter: ;
	$icons-social-vimeo: ;
	$icons-social-windows: ;
	$icons-social-xbox: ;
	$icons-social-yahoo: ;
	$icons-social-yelp: ;
	$icons-social-youtube: ;
	$icons-social-zerply: ;
	$icons-social-zurb: ;

// Miscellaneous-Icons
	$icons-compass: ;
	$icons-music: ;
	$icons-lightbulb: ;
	$icons-battery-full: ;
	$icons-battery-half: ;
	$icons-battery-empty: ;
	$icons-projection-screen: ;
	$icons-info: ;
	$icons-power: ;
	$icons-asterisk: ;
	$icons-at-sign: ;
	$icons-key: ;
	$icons-ticket: ;
	$icons-book: ;
	$icons-book-bookmark: ;
	$icons-anchor: ;
	$icons-puzzle: ;
	$icons-foot: ;
	$icons-paw: ;
	$icons-mountains: ;
	$icons-trees: ;
	$icons-sheriff-badge: ;
	$icons-first-aid: ;
	$icons-trophy: ;
	$icons-prohibited: ;
	$icons-no-dogs: ;
	$icons-no-smoking: ;
	$icons-safety-cone: ;
	$icons-shield: ;
	$icons-crown: ;
	$icons-target: ;
	$icons-target-two: ;
	$icons-die-one: ;
	$icons-die-two: ;
	$icons-die-three: ;
	$icons-die-four: ;
	$icons-die-five: ;
	$icons-die-six: ;
	$icons-skull: ;
	$icons-map: ;
	$icons-clipboard: ;
	$icons-clipboard-pencil: ;
	$icons-clipboard-notes: ;




// 